/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */
h1 {
    font-family: 'Hanalei Fill', cursive;
}

.thought1 {
    font-family: 'Kirang Haerang', cursive;
}

h3 {
    font-family: 'Merienda', cursive;
}